/* ---------- Global ---------- */
body, html, main, article, .nav-link {
    font-family: 'B Mitra', sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- Page Content ---------- */
.page-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* ---------- Footer ---------- */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
