@page "/fetchdata"
@using ShamsAlShamoos03.Client.Client.Pages.Shamoos.Shared
@layout MainLayout
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<div class="page-content">
    <h1>Weather forecast</h1>
    <p>This component demonstrates fetching data from the server.</p>

    <!-- محتوای دیگر -->
</div>
