@page "/UploadImageToQr"
@inject HttpClient Http

<h3>آپلود عکس و تولید QR</h3>

<InputFile OnChange="UploadFile" />

@if (!string.IsNullOrEmpty(ImageUrl))
{
    <p>عکس:</p>
    <img src="@ImageUrl" width="200" />
}

@if (!string.IsNullOrEmpty(QrCode))
{
    <p>QR Code:</p>
    <img src="data:image/png;base64,@QrCode" />
}

@code {
    string ImageUrl;
    string QrCode;

    async Task UploadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var content = new MultipartFormDataContent();

        content.Add(
            new StreamContent(file.OpenReadStream(5_000_000)),
            "file",
            file.Name
        );

        var res = await Http.PostAsync("api/upload/image-to-qr", content);
        if (res.IsSuccessStatusCode)
        {
            var result = await res.Content.ReadFromJsonAsync<ResultDto>();
            ImageUrl = result!.imageUrl;
            QrCode = result.qrBase64;
        }
    }

    class ResultDto
    {
        public string imageUrl { get; set; }
        public string qrBase64 { get; set; }
    }
}
