@inherits LayoutComponentBase

<div class="page rtl-layout d-flex flex-column min-vh-100">

    <NavMenu DesktopCollapsed="@desktopCollapsed"
             DesktopCollapsedChanged="OnDesktopCollapsedChanged" />

    <main class="flex-fill @(desktopCollapsed ? "collapsed-main" : "")">
        <div class="mt-5 pt-3"></div>

        <article class="content page-content">
            @Body
        </article>

        <footer>
            <p>&copy; @DateTime.Now.Year همه حقوق محفوظ است.</p>
        </footer>
    </main>
</div>

@code {
    private bool desktopCollapsed = true;

    private void OnDesktopCollapsedChanged(bool collapsed)
    {
        desktopCollapsed = collapsed;
    }
}
